/.idea
/*.sqlite3
/subscription/migrations
/subscription/__pycache__
/mybook/__pycache__
/appfront/build
/appfront/config
/appfront/src
/appfront/static
/appfront/test
/appfront/.babelrc
/appfront/.editorconfig
/appfront/.eslintignore
/appfront/.eslintrc.js
/appfront/.postcssrc.js
/appfront/index.html
/appfront/package.json
/appfront/package-lock.json
/appfront/.gitignore
/appfront/node_modules
/appfront/README.md
