<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一迁-欢迎页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone" data-theme="a">
    <div data-role="header">
        <h1>一迁-帐号列表</h1>
    </div>

    <div align="center"><img style="height:100px; width: 100px; margin-top:50px; border-radius:20px;display: block"
                             src="{{img_url}}"/></div>

    <div data-role="main" class="ui-content">
        <div align="center"><p>你好,{{user}},一迁助你找回曾经的时光</p></div>
        <br><br>
        <a href="/subscription/account?open_id={{open_id}}" class="ui-btn-b ui-corner-all"
           data-transition="pop">点击添加账户</a>
        <p>账户列表:</p>
        <ul data-role="listview" data-inset="true">
            {% for account in account_list %}
            {% if account.user_status == 0 %}
            <li><a href="/subscription/detail?account_id={{account.id}}&open_id={{open_id}}">{{account.user_name}}
                <i>待抓取</i></a></li>
            {% elif account.user_status == 1 %}
            <li><a href="/subscription/detail?account_id={{account.id}}&open_id={{open_id}}">{{account.user_name}}
                <i>抓取中</i></a></li>
            {% elif account.user_status == 2 %}
            <li><a href="/subscription/detail?account_id={{account.id}}&open_id={{open_id}}">{{account.user_name}}
                <i>抓取成功</i></a></li>
            {% elif account.user_status == 3 %}
            <li><a href="/subscription/detail?account_id={{account.id}}&open_id={{open_id}}">{{account.user_name}}
                <i>抓取失败</i></a></li>
            {% endif %}
            {% empty %}
            <li>暂无记录</li>
            {% endfor %}
        </ul>
    </div>
    <div data-role="footer">
        <h1>www.allmigrate.cn</h1>
    </div>
</div>
</body>
</html>