<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>一迁-欢迎页</title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <link href="../media/css/example.css" rel="stylesheet">
</head>
<body>
<div class="page list js_show">
    <div class="page__hd">
        <h1 class="page__title">你好，{{user}}</h1>
        <!--<p class="page__desc">助你找回曾经的时光</p>-->
        <img src="{{img_url}}" style="width: 50px;display: block">
    </div>

    <div class="page__bd page__bd_spacing">
        <div class="weui-cell">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="http://a.xnimg.cn/nx/apps/login/cssimg/logo-big.jpg" style="width: 100px;display: block">
            </div>
            <div class="weui-cell__bd">
                <p>人人搬家</p>
                <p style="font-size: 13px;color: #888888;">简单，快速，人人网资料一键抓取</p>
            </div>
        </div>
        <div class="weui-cell">
            <a href="/account?open_id={{open_id}}" class="weui-btn weui-btn_mini weui-btn_primary">点击添加帐号</a>
        </div>


        <div class="weui-cells">

            {% for account in account_list %}
            <div class="weui-cell">
                {% if account.user_status == 0 %}
                <div class="weui-cell__bd">
                    <p>{{account.user_name}}</p>
                    <p style="font-size: 13px;color: #888888;">待抓取</p>
                </div>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">点击抓取</a>
                {% elif account.user_status == 1 %}
                <div class="weui-cell__bd">
                    <p>{{account.user_name}}</p>
                    <p style="font-size: 13px;color: #888888;">抓取中</p>
                </div>
                {% elif account.user_status == 2 %}
                <div class="weui-cell__bd">
                    <p>{{account.user_name}}</p>
                    <p style="font-size: 13px;color: #888888;">抓取成功</p>
                </div>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">点击查看</a>
                {% elif account.user_status == 3 %}
                <div class="weui-cell__bd">
                    <p>{{account.user_name}}</p>
                    <p style="font-size: 13px;color: #888888;">抓取失败</p>
                </div>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">重新抓取</a>
                {% endif %}
            </div>
            {% empty %}
            <p>暂无账号记录</p>
            {% endfor %}
        </div>
    </div>
</div>
<!--<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>-->
<!--<script src="../media/js/example.js"></script>-->
</body>
</html>