<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一迁-帐号绑定页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        function checkUser() {
            var user_id = $("#user_id").val();
            var user_name = $("#user_name").val();
            var user_pwd = $("#user_pws").val();
            if (!user_name) {
                alert("用户名不能为空");
                return false;
            }
            if (!user_pwd) {
                alert("密码不能为空");
                return false;
            }
            $.ajax({
                url: '/subscription/check',
                data: {
                    user_id: user_id,
                    user_name: user_name,
                    user_pwd: user_pwd
                },
                processData: true,
//                contentType: "application/json",
                contentType: "application/x-www-form-urlencoded",
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (data.status) {
                        console.log(data.msg)
                        document.getElementById("form").submit();
                    } else {
                        alert(data.msg);
                    }
                },
                error: function () {
                    console.log("Error")
                }
            })

        }
    </script>
</head>
<body>


<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>一迁-绑定帐号</h1>
    </div>

    <div align="center"><img style="height:50px; width: 150px; margin-top:20px; border-radius:10px;display: block"
                             src="http://a.xnimg.cn/nx/apps/login/cssimg/logo-big.jpg"/></div>

    <div data-role="main" class="ui-content">
        <div align="center"><p>你好,{{user}},请绑定你的人人网帐号</p></div>
        <br><br>
        <form id="form" action="/subscription/add/" method="post">
            <div class="ui-fieldcontain">
                <input type="hidden" id="user_id" name="user_id" value="{{open_id}}">
                <label for="user_name">帐号:</label>
                <input type="text" name="user_name" id="user_name" placeholder="请输入用户名">
                <label for="user_pwd">密码:</label>
                <input type="password" name="user_pwd" id="user_pwd" placeholder="请输入密码">
            </div>
        </form>
        <a class="ui-btn ui-btn-b ui-corner-all" onclick="checkUser();">提交</a>
    </div>
</div>

</body>
</html>