<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>一迁-添加帐号页</title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <link href="../media/css/example.css" rel="stylesheet">
</head>
<body>

<div class="page input js_show">
    <div class="page__hd">
        <h1 class="page__title">一迁</h1>
        <p class="page__desc">绑定帐号</p>
        <img src="{{img_url}}" style="width: 50px;display: block">
    </div>

    <div class="page__bd">
        <div class="weui-cells weui-cells_form">
            <form action="/add/" method="post">
                <!--<label for="your_name">Your name: </label>-->
                <input type="hidden" id="user_id" value="{{open_id}}" name="data" id="data">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">帐号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="user_name" placeholder="请输入人人网帐号">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" id="user_password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="weui-btn-area">
                    <input type="submit" value="OK">
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>-->
<!--<script src="../media/js/example.js"></script>-->
</body>
</html>