<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>一迁-帐号详情页</title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <link href="../static/css/example.css" rel="stylesheet">
</head>
<body>

<div class="page flex js_show">
    <div class="page__hd">
        <h1 class="page__title">一迁</h1>
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTL7UkPQ9UYSibSsy1JuaxwwjCBfanuvybVgE29Dic90nhD2kRX1Xnrf4H7z7pxF7KtZL7PDZyFqoBVg/132"
             style="width: 50px;display: block">
        <p class="page__desc">xxx@sina.com</p>
    </div>

    <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">日志(10)</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder">点击下载</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder">***</div>
            </div>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">相册(20)</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder">点击下载</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder">***</div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">付款/关闭</a>
        </div>
    </div>
</div>

<!--<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>-->
<!--<script src="../static/js/example.js"></script>-->
</body>
</html>