<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一迁-帐号详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        function checkUser() {
            var user_id = $("#user_id").val();
            var user_name = $("#user_name").val();
            var user_pwd = $("#user_pwd").val();
            if (!user_name) {
                console.log("用户名不能为空");
                toast("用户名不能为空", 2000);
                return false;
            }
            if (!user_pwd) {
                console.log("密码不能为空");
                toast("密码不能为空", 2000);
                return false;
            }
            $.ajax({
                url: '/subscription/check',
                data: {
                    user_id: user_id,
                    user_name: user_name,
                    user_pwd: user_pwd
                },
                processData: true,
                contentType: "application/x-www-form-urlencoded",
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.status) {
                        console.log(data.msg);
                        $("#form").submit()
                    } else {
                        console.log(data.msg);
                        toast(data.msg, 2000);
                    }
                },
                error: function () {
                    console.log("Error");
                    toast(data, 2000);
                }
            })
        }
    </script>
    <script type="text/javascript">
        var toast = function (msg, time_out) {
            var $toast = $('<div class="ui-loader ui-overlay-shadow ui-body-e ui-corner-all"><h3>' + msg + '</h3></div>');
            $toast.css({
                display: "block",
                opacity: 1.0,
                position: "fixed",
                padding: "7px",
                "text-align": "center",
                width: "80%",
                left: "10%",
                top: "20%",
                background: "#D3D3D3"
            });
            $toast.appendTo($.mobile.pageContainer).delay(time_out);
            var removeToast = function () {
                $(this).remove();
            };
            $toast.click(removeToast);
            $toast.fadeOut(400, removeToast);

        }
    </script>
</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>一迁-帐号详情</h1>
    </div>
    <div align="center"><img style="height:50px; width: 200px; margin-top:20px; border-radius:10px;display: block"
                             src="http://a.xnimg.cn/nx/apps/login/cssimg/logo-big.jpg"/></div>
    <div data-role="main" class="ui-content">
        <div align="center"><p>你好{{user_name}},{{user_account_name}}状态是{{user_account_status}}</p></div>
        <br>
        <form id="form" action="/subscription/update/" method="post">
            <fieldset data-role="collapsible">
                <legend>点击修改账户信息</legend>
                <div class="ui-fieldcontain">
                    <input type="hidden" id="user_id" name="user_id" value="{{open_id}}">
                    <label for="user_name">帐号:</label>
                    <input type="text" name="user_name" id="user_name" placeholder="请输入用户名" readonly="readonly"
                           value="{{user_account_name}}">
                    <label for="user_pwd">密码:</label>
                    <input type="password" name="user_pwd" id="user_pwd" placeholder="请输入密码"
                           value="{{user_account_pwd}}">
                </div>
                <a class="ui-btn ui-btn-b ui-corner-all" onclick="checkUser();">提交</a><br>
            </fieldset>
        </form>
        {% if user_account_status == '抓取成功' %}
        <p>日志:</p>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="{{blog_url}}" class="ui-btn ui-btn-b ui-corner-all ui-shadow">点击下载</a><br>
            </div>
            <div class="ui-block-b">
                <a href="#" class="ui-btn ui-corner-all ui-btn-b ui-shadow">{{blog_pwd}}</a><br>
            </div>
        </div>
        <p>相册:</p>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="{{photo_url}}" class="ui-btn ui-btn-b ui-corner-all ui-shadow">点击下载</a><br>
            </div>
            <div class="ui-block-b">
                <a href="#" class="ui-btn ui-btn-b ui-corner-all ui-shadow">{{photo_pwd}}</a><br>
            </div>
        </div>
        {% endif %}

        <a href="/subscription/pay/" class="ui-btn ui-btn-b ui-corner-all">支付获取解压密码</a>

    </div>

    <div data-role="footer">
        <h1>www.allmigrate.cn</h1>
    </div>
</div>
</body>
</html>