<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一迁-帐号待付款页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        //调用微信JS api 支付
        function onBridgeReady() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {
                    appId: "{{ params.appid }}",        //公众号名称，由商户传入
                    timeStamp: "{{ params.timeStamp }}", //时间戳，自1970年以来的秒数
                    nonceStr: "{{ params.nonceStr }}",  //随机串
                    package: "prepay_id={{ params.prepay_id }}",  //预支付id
                    signType: "MD5",  //微信签名方式
                    paySign: "{{ params.sign }}"     //微信签名
                },
                function (res) {
                    //支付成功后返回 get_brand_wcpay_request:ok
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        // 跳转到支付成功的页面
                        window.location.href = '/subscription/pay_result?pay_no={{params.out_trade_no}}';
                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        alert("您已取消支付!");
                    } else if (res.err_msg == "get_brand_wcpay_request:fail") {
                        $.each(res, function (key, value) {
                            alert(value);
                        });
                        alert("支付失败!");
                    }
                }
            );
        }

        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        }

    </script>
    <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script type="text/javascript">
        // 初始化
        var vConsole = new VConsole();
    </script>
    <script type="text/javascript">
        //调用微信JS api 支付
        function onBridgeReady() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {
                    appId: "{{ params.appid }}",        //公众号名称，由商户传入
                    timeStamp: "{{ params.timeStamp }}", //时间戳，自1970年以来的秒数
                    nonceStr: "{{ params.nonceStr }}",  //随机串
                    package: "prepay_id={{ params.prepay_id }}",  //预支付id
                    signType: "MD5",  //微信签名方式
                    paySign: "{{ params.sign }}"     //微信签名
                },
                function (res) {
                    //支付成功后返回 get_brand_wcpay_request:ok
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        // 跳转到支付成功的页面
                        window.location.href = '#';
                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        alert("您已取消支付!");
                    } else if (res.err_msg == "get_brand_wcpay_request:fail") {
                        $.each(res, function (key, value) {
                            alert(value);
                        });
                        alert("支付失败!");
                    }
                }
            );
        }

        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        }

    </script>
</head>

<body>


<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>一迁-帐号详情</h1>
    </div>
    <div align="center"><img style="height:100px; width: 100px; margin-top:50px; border-radius:20px;display: block"
                             src="{{img_url}}"/></div>

    <div data-role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
            <li data-role="divider">浙江春芽科技有限公司</li>
            <li>
                {% load staticfiles %}
                <img src="{% static '/images/oneplus.jpg' %}"/>
                <p>信息服务费</p>
                <b><p>￥10.00</p></b>
            </li>
        </ul>
        <a href="#" class="ui-btn ui-btn-b ui-corner-all" onclick="callpay();return false;">立即支付</a>

    </div>

</div>


</body>
</html>